.cm-s-projectCode span.cm-keyword {color: #C800A4;}
.cm-s-projectCode span.cm-atom {color: #219;}
.cm-s-projectCode span.cm-number {color: #3A00DC;}
.cm-s-projectCode span.cm-def {color: #00f;}
.cm-s-projectCode span.cm-variable {color: black;}
.cm-s-projectCode span.cm-variable-2 {color: #05a;}
.cm-s-projectCode span.cm-variable-3 {color: #085;}
.cm-s-projectCode span.cm-property {color: black;}
.cm-s-projectCode span.cm-operator {color: black;}
.cm-s-projectCode span.cm-comment {color: #008E00;}
.cm-s-projectCode span.cm-string {color: #DF0002;}
.cm-s-projectCode span.cm-string-2 {color: #f50;}
.cm-s-projectCode span.cm-meta {color: #555;}
.cm-s-projectCode span.cm-qualifier {color: #555;}
.cm-s-projectCode span.cm-builtin {color: #30a;}
.cm-s-projectCode span.cm-bracket {color: #997;}
.cm-s-projectCode span.cm-tag {color: #170;}
.cm-s-projectCode span.cm-attribute {color: #00c;}
.cm-s-projectCode span.cm-header {color: blue;}
.cm-s-projectCode span.cm-quote {color: #090;}
.cm-s-projectCode span.cm-hr {color: #999;}
.cm-s-projectCode span.cm-link {color: #00c;}

